{% load staticfiles %}
<html>
<head>
    <meta charset="UTF-8" />
    <title>Cadastro de Atividades</title>
    <link rel="stylesheet" href="{% static 'css/Stylesheet1.css' %}"/>
    <link rel="shortcut icon" href="{% static 'img/favicon.png' %}"/>
</head>
<body>
    <div class="testbox">
        <form method="POST" class="post-form" action="#">
            {% csrf_token %}
            <h1>Cadastro de Atividades do Suporte</h1>
            <div class="clearfix">
                <div id="left">
                    <h4>Executor<span>*</span></h4>

                    <select name="executor" required class="dropdown">
                        <option value="" selected></option>
                        <option value="douglas">Douglas</option>
                        <option value="rafael">Rafael</option>
                        <option value="kevin">Kevin</option>
                        <option value="eduardo">Eduardo</option>
                    </select>

                    <h4>Origem do Equipamento<span>*</span></h4>

                    <input class="name" type="text" name="origequipamento" required/>

                    <h4>Destino do Equipamento<span>*</span></h4>

                    <input class="name" type="text" name="destequipamento" required/>
                </div>
                <div id="right">
                    <h4>Tipo de Equipamento<span>*</span></h4>

                    <select name="tipoequipamento" class="dropdown" required>
                        <option value="" selected></option>
                        <option value="computador">Computador</option>
                        <option value="notebook">Notebook</option>
                        <option value="monitor">Monitor</option>
                        <option value="teclado">Teclado</option>
                        <option value="mouse">Mouse</option>
                        <option value="headset">Headset</option>
                        <option value="impressora">Impressora</option>
                        <option value="equipamentorede">Equipamento de Rede</option>
                        <option value="caboseconectores">Cabos e Conectores</option>
                    </select>
                    <h4>Info do Equipamento (EJCJ, Modelo, Marca)<span>*</span></h4>
                    <input class="name" type="text" name="infoequipamento" required/>
                    <h4>Chamado OTRS referente</h4>
                    <input class="name" type="text" name="chamadootrs"/>
                </div>
            </div>



            <h4>Atividade Realizada</h4>
            <p class="small">
                Por favor descreva com detalhes as atividades realizadas no atendimento.</small>
                <textarea name="atividaderealizada" rows="5"></textarea>
                <div class="btn-block">
                    <button type="submit">Cadastrar</button>

                    <button type="submit" href="/">Limpar</button>
                </div>
                <br></br>
                <!– essa parte de codigo abaixo é referente ao select dos arquivos do banco de dados->
                <h1>Atividades Realizadas</h1>
                <br></br>
                <div class="clearfix">
                    <table class="table">
                        <thead>
                            <tr>
                                <th>ID</th>
                                <th>Executor</th>
                                <th>Tipo de Equipamento</th>
                                <th>Origem</th>
                                <th>Destino</th>
                                <th>Info Equipamento</th>
                                <th>ID OTRS</th>
                                <th>Atividade</th>
                                <th>Ação</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for ativ in atividade %}
                            <tr>
                                <td>{{ativ.id}}</td>
                                <td>{{ativ.executor}}</td>
                                <td>{{ativ.tipoequipamento}}</td>
                                <td>{{ativ.origequipamento}}</td>
                                <td>{{ativ.destequipamento}}</td>
                                <td>{{ativ.infoequipamento}}</td>
                                <td>{{ativ.chamadootrs}}</td>
                                <td>{{ativ.atividaderealizada}}</td>
                                <td>
                                    <button type="submit" class="btn-delete">Excluir</button>
                                </td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
</form>
    </div>
</body>
</html>
